/*styles*/
html {
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #d2ff5c), color-stop(60%, #82e778));
  background: linear-gradient(180deg, #d2ff5c 30%, #82e778 60%);
  background-repeat: no-repeat;
  font-family: 'Fira Sans', sans-serif;
  color: #444444;
  font-size: 1.3rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
}

.logo {
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  .logo .logoImg {
    width: 30%;
  }
}

@media (max-width: 576px) {
  .logo .logoImg {
    width: 50%;
  }
}

.cardNavidad .iconsScene {
  width: 100%;
  position: fixed;
  z-index: 25;
  top: 5%;
  left: 10%;
}

.cardNavidad .cardContainer {
  padding-top: 10%;
}

.cardNavidad .cardContainer .decoArboles {
  position: absolute;
  top: -10%;
  right: 3%;
  width: 25%;
}

.cardNavidad .cardContainer .cardBox {
  border: 3px solid #2E0063;
  border-radius: 2.5rem;
  margin: 0 auto;
  width: 720px;
  height: 400px;
  box-shadow: 4px 4px 7px 1px rgba(49, 49, 49, 0.22);
  -webkit-box-shadow: 4px 4px 7px 1px rgba(49, 49, 49, 0.22);
  -moz-box-shadow: 4px 4px 7px 1px rgba(49, 49, 49, 0.22);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  z-index: 20;
}

.cardNavidad .cardContainer .cardBox .imgBox {
  margin-left: -20%;
  margin-top: 2%;
  max-width: 810px;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.cardNavidad .cardContainer .cardBox .imgBox .fotoCard {
  width: 50%;
}

.cardNavidad .cardContainer .cardBox .titleLanding {
  max-width: -moz-fit-content;
  max-width: -webkit-fit-content;
  max-width: fit-content;
  position: absolute;
  top: 19%;
  right: 5%;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

.cardNavidad .cardContainer .cardBox .titleLanding .iconTree {
  margin-left: 25%;
  width: 20%;
}

.cardNavidad .cardContainer .cardBox .titleLanding h4 {
  font-weight: bold;
  font-style: italic;
  font-size: 3.3rem;
  line-height: 0.9;
  color: #2E0063;
}

.cardNavidad .cardContainer .cardBox .titleLanding h4 span {
  margin-left: 10%;
  font-size: 6.5rem;
}

@media (max-width: 1600px) {
  .cardNavidad .iconsScene {
    left: -3%;
  }
}

@media (max-width: 768px) {
  .cardNavidad .iconsScene {
    left: -100%;
  }
  .cardNavidad .iconsScene div {
    max-height: 100vh;
  }
  .cardNavidad .cardContainer .decoArboles {
    width: 35%;
  }
  .cardNavidad .cardContainer .cardBox {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
}

@media (max-width: 768px) {
  .cardNavidad .iconsScene {
    top: 8%;
    right: 0;
    left: -25%;
    transform: scale(1.5) !important;
    -webkit-transform: scale(1.5) !important;
    -moz-transform: scale(1.5) !important;
    -webkit-transform-origin: center left !important;
            transform-origin: center left !important;
  }
}

@media (max-width: 576px) {
  .cardNavidad {
    max-height: 380px;
  }
  .cardNavidad .iconsScene {
    top: 6%;
    right: 0;
    left: -30%;
    transform: scale(1.5) !important;
    -webkit-transform: scale(1.5) !important;
    -moz-transform: scale(1.5) !important;
    -webkit-transform-origin: center left !important;
            transform-origin: center left !important;
  }
  .cardNavidad .cardContainer .decoArboles {
    width: 45%;
  }
  .cardNavidad .cardContainer .cardBox {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
  .cardNavidad .cardContainer .cardBox div {
    max-height: 100vh;
  }
}

.animContainer {
  margin: auto;
  max-width: 5rem;
  padding-bottom: 5%;
  padding-top: 3rem;
}

@media (max-width: 576px) {
  .animContainer {
    padding-top: 1rem;
  }
}

.textNavidad {
  margin-top: 20%;
}

.textNavidad .scene {
  z-index: 1;
  opacity: 0.6;
  margin-left: -10%;
  width: 100%;
  position: fixed;
  top: 33%;
}

.textNavidad .parteUno, .textNavidad .parteDos, .textNavidad .parteTres {
  position: relative;
  z-index: 5;
  padding-bottom: 15%;
}

.textNavidad .parteUno p, .textNavidad .parteDos p, .textNavidad .parteTres p {
  font-size: 2.3rem;
  color: #2E0063;
}

.textNavidad .parteDos {
  text-align: right;
}

.textNavidad .gracias {
  position: relative;
  z-index: 5;
}

.textNavidad .gracias p {
  font-size: 2.7rem;
  color: #2E0063;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
  font-style: italic;
}

.textNavidad .gracias p span {
  font-size: 5rem;
}

@media (max-width: 768px) {
  .textNavidad .scene {
    top: 43%;
    transform: scale(2.8) !important;
    -webkit-transform: scale(2.8) !important;
    -moz-transform: scale(2.8) !important;
    -webkit-transform-origin: center left !important;
            transform-origin: center left !important;
  }
}

@media (max-width: 576px) {
  .textNavidad .scene {
    transform: scale(2.5) !important;
    -webkit-transform: scale(2.5) !important;
    -moz-transform: scale(2.5) !important;
    -webkit-transform-origin: center left !important;
            transform-origin: center left !important;
  }
  .textNavidad .scene div img {
    max-height: 100vh;
  }
  .textNavidad .parteUno p, .textNavidad .parteDos p, .textNavidad .parteTres p {
    font-size: 1.8rem;
  }
  .textNavidad .gracias p {
    font-size: 2.4rem;
  }
  .textNavidad .gracias p span {
    font-size: 4rem;
  }
}

.merryXmas {
  padding-top: 5rem;
}

.merryXmas .XmasContainer {
  text-align: center;
}

.merryXmas .XmasContainer h1 {
  color: #2E0063;
  font-weight: bold;
  font-style: italic;
  font-size: 6rem;
}

.merryXmas .XmasContainer .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.merryXmas .XmasContainer .message i {
  color: #2E0063;
  display: inline-block;
  font-size: 5rem;
  padding: 1rem;
}

.merryXmas .XmasContainer .message p {
  display: inline-block;
  color: #2E0063;
  font-weight: bold;
  font-style: italic;
  font-size: 2.5rem;
}

@media (max-width: 576px) {
  .merryXmas .XmasContainer h1 {
    font-size: 4rem;
  }
  .merryXmas .XmasContainer .message i {
    font-size: 2.7rem;
  }
  .merryXmas .XmasContainer .message p {
    font-size: 1.3rem;
  }
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#75298c), to(#2e0063));
  background: linear-gradient(180deg, #75298c 0%, #2e0063 100%);
  margin-top: 2rem;
  padding: 1rem;
  position: relative;
  z-index: 5;
}

footer p {
  color: #ffffff;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}
/*# sourceMappingURL=styles.css.map */