/*styles*/
$morado:#2E0063;
$moradoHover:#75298C;
$verde:#82E778;
$naranja:#FCB733;
$colorTexto:#444444;
$grisAlternativo:#C4C4C4;
$gradienteVerde:linear-gradient(180deg, rgba(210,255,92,1) 30%, rgba(130,231,120,1) 60%);
$gradienteMorado:linear-gradient(180deg, rgba(117,41,140,1) 0%, rgba(46,0,99,1) 100%);
html {
    scroll-behavior: smooth; //Scroll Smooth to section
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    // background: url(../images/BG_1.png) no-repeat center top;
    // background-size: cover;
    background: $gradienteVerde;
    background-repeat: no-repeat;    
	font-family: 'Fira Sans', sans-serif;
    color:$colorTexto;
    font-size: 1.3rem;
    transform-style: preserve-3d;
    overflow: hidden;
}
// @media (max-width:768px){}
.logo{
    position: relative;
    z-index: 10;
    @media (max-width:768px){
        .logoImg{
            width: 30%;
        }
    } 
    @media (max-width:576px){
        .logoImg{
            width: 50%;
        }
    }    
}
.cardNavidad{
    .iconsScene{
        width: 100%;
        position: absolute;
        z-index: 25;
        //top: 25%; //5%
        left: 10%;
        margin-top: 1%;
    }
    .cardContainer{
        padding-top: 10%;
        .decoArboles{
            position: absolute;
            top: -10%;
            right: 3%;
            width: 25%;
        }
        .cardBox{
            border: 3px solid $morado;
            border-radius: 2.5rem;
            margin: 0 auto;
            width: 720px;
            height: 400px;
            box-shadow: 4px 4px 7px 1px rgba(49,49,49,0.22);
            -webkit-box-shadow: 4px 4px 7px 1px rgba(49,49,49,0.22);
            -moz-box-shadow: 4px 4px 7px 1px rgba(49,49,49,0.22);
            transform: translateZ(0);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            position: relative;
            z-index: 20;
            .imgBox{
                margin-left: -20%;
                margin-top: 2%;
                max-width: 810px;
                transform: translateZ(100px);
                .fotoCard{
                    width: 50%;                
                }
            }
            .titleLanding{
                max-width: -moz-fit-content;
                max-width: -webkit-fit-content;
                max-width: fit-content;
                position: absolute;
                top: 19%;
                right: 5%;
                transform: translateZ(50px);
                .iconTree{
                    margin-left: 25%;
                    width: 20%;
                }
                h4{
                    font-weight: bold;
                    font-style: italic;
                    font-size: 3.3rem;
                    line-height: 0.9;
                    color: $morado;
                    span{
                        margin-left: 10%;
                        font-size: 6.5rem;
                    }
                }
            }
        }
    }
    @media (max-width:768px){  
        .iconsScene{
            // top: 8%;
            // right: 0;
            // left: -25%;
            // transform: scale(1.5) !important;
            // -webkit-transform: scale(1.5) !important;
            // -moz-transform: scale(1.5) !important;
            // transform-origin: center left !important;
            display: none;
        }      
        .cardContainer{
            .decoArboles{
                width: 35%;
            }
            .cardBox{
                transform: scale(0.8);
                -webkit-transform: scale(0.8);
                -moz-transform: scale(0.8);
                transform-origin: center center;
            }
        }
    }
    @media (max-width:576px){
        max-height: 380px;
        .iconsScene{
            top: 6%;
            right: 0;
            left: -30%;
            transform: scale(1.5) !important;
            -webkit-transform: scale(1.5) !important;
            -moz-transform: scale(1.5) !important;
            transform-origin: center left !important;
        }
        .cardContainer{
            .decoArboles{
                width: 45%;
            }
            .cardBox{
                transform: scale(0.4);
                -webkit-transform: scale(0.4);
                -moz-transform: scale(0.4);
                transform-origin: center left;
                div{
                    max-height: 100vh;
                }
            }
        }
    }
}
.animContainer{
    margin: auto;
    max-width: 5rem;
    padding-bottom: 5%;
    padding-top: 3rem;    
    @media (max-width:576px){
        padding-top: 1rem;
    }
}
.textNavidad{
    margin-top: 20%;
    .scene{
        z-index: 1;
        opacity: 0.6;
        margin-left: -10%;
        width: 100%;
        position: absolute;
        margin-top: 10%;
    }
    .parteUno,.parteDos,.parteTres{
        position: relative;
        z-index: 5;
        padding-bottom: 15%;
        p{
            font-size: 2.3rem;
            color: $morado;
        }
    }
    .parteDos{
        text-align: right;
    }
    .gracias{
        position: relative;
        z-index: 5;
        p{
            font-size: 2.7rem;
            color: $morado;
            text-align: center;
            line-height: 1.2;
            font-weight: bold;
            font-style: italic;
            span{
                font-size: 5rem;
            }
        }
    }
    @media (max-width:768px){
        background: url(../images/BG_mobile.png) no-repeat left top;
        background-size: cover;
        .scene{
            // top: 43%;
            // transform: scale(2.8) !important;
            // -webkit-transform: scale(2.8) !important;
            // -moz-transform: scale(2.8) !important;
            // transform-origin: center left !important;
            display: none;
        }
    }
    @media (max-width:576px){
        .scene{
            transform: scale(2.5) !important;
            -webkit-transform: scale(2.5) !important;
            -moz-transform: scale(2.5) !important;
            transform-origin: center left !important;
            div{
                img{
                    max-height: 100vh;
                }
            }
        }
        .parteUno,.parteDos,.parteTres{
            p{
                font-size: 1.8rem;
            }
        }
        .gracias{
            p{
                font-size: 2.4rem;
                span{
                    font-size: 4rem;
                }
            }
        }
    }
}
.merryXmas{
    padding-top: 5rem;
    .XmasContainer{
        text-align: center;
        h1{
            color: $morado;
            font-weight: bold;
            font-style: italic;
            font-size: 6rem;
        }
        .message{
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                color: $morado;
                display: inline-block;
                font-size: 5rem;
                padding: 1rem;
            }
            p{
                display: inline-block;
                color: $morado;
                font-weight: bold;
                font-style: italic;
                font-size: 2.5rem;
            }
        }
    }
    @media (max-width:576px){
        .XmasContainer{
            h1{
                font-size: 4rem;
            }
            .message{
                i{
                    font-size: 2.7rem;
                }
                p{
                    font-size: 1.3rem;
                }
            }
        }
    }
}
footer{
    background: $gradienteMorado;
    margin-top: 2rem;
    padding: 1rem;
    position: relative;
    z-index: 5;
    p{
        color: #ffffff;
        margin-bottom: 0;
        font-weight: bold;
        text-align: center;
        font-style: italic;
    }
}
